@use "./variables";

#dark {
  .background-top {
    background-image: url(../images/bg-desktop-dark.jpg);
  }

  .background-bottom {
    background-color: variables.$color-theme-dark-deepblue;
  }
}

#light {
  .background-top {
    background-image: url(../images/bg-desktop-light.jpg);
  }

  .background-bottom {
    background-color: variables.$color-theme-light-blue--1;
  }
}

.background-top {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 35vh;
}

.background-bottom {
  height: 65vh;
}
