@use "variables";

#root {
  position: relative;
}

#light {
  .background-top {
    background-image: url("/src/assets/images/bg-desktop-light.jpg");
  }

  .background-bottom {
    background-color: variables.$color-theme-light-blue--1;
  }
}

#dark {
  .background-top {
    background-image: url("/src/assets/images/bg-desktop-dark.jpg");
  }

  .background-bottom {
    background-color: variables.$color-theme-dark-deepblue;
  }
}

.background-top {
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.background-bottom {
  height: 60vh;
}
