@use "variables";

.background-top {
  height: 40vh;
  background-image: url("/src/assets/images/bg-desktop-dark.jpg");
  background-size: cover;
  background-position: center;
}

.background-bottom {
  height: 60vh;
  background-color: variables.$color-theme-dark-deepblue;
}
