@use "./variables";

#light {
  .summary {
    background-color: variables.$color-theme-light-gray;

    span {
      color: variables.$color-theme-light-blue--3;
    }

    button {
      color: variables.$color-theme-light-blue--3;

      &:hover {
        color: variables.$color-theme-light-blue--4;
      }
    }
  }
}

#dark {
  .summary {
    background-color: variables.$color-theme-dark-desaturatedblue;

    span {
      color: variables.$color-theme-dark-blue--2;
    }

    button {
      color: variables.$color-theme-dark-blue--2;

      &:hover {
        color: variables.$color-theme-dark-lightblue--hover;
      }
    }
  }
}

.summary {
  padding: 1.6rem 3rem;
  font-size: 1.6rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  margin-bottom: 3.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // flex-wrap: wrap;

  span {
    flex: 0 1 25%;

    @media only screen and (max-width: variables.$bp-largest) {
      flex: 0 1 auto;
    }
  }

  button {
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.2s all;
  }
}
