@use "./variables";

.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64rem;

  @media only screen and (max-width: variables.$bp-largest) {
    width: 90vw;
  }
}
